<html>
<head>
<link rel="stylesheet" href="pico.min.css">
<style>


.banner {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: .5em;
  background-color: black;
  color: white;
  font-size: 40pt;
  margin-bottom: .5em;
}

.logo {
  max-width: 100px;
  margin-right: 20px;
}

@media screen and (prefers-color-scheme: dark) {
  .banner {
    background-color: #eee;
    color: #111;
  }
}

</style>
</head>
<body>
  <main class="container">
    <div class="banner"><img class="logo" src="logo.svg">Labitat <a style="margin-left: auto" href="https://labitat.dk/wiki/Donate" role="button">Donate now!</a></div>
    <div class="grid">
      <div>
        <h2>About</h2>
        <%= about_section %>
      </div>
      <div>
        <h2>Connect</h2>
        <%= connect_section %>
      </div>
      <div>
        <h2>Events</h2>
        <%= events_section %>
      </div>
    </div>

    <div class="grid">
      <div>
        <h2>Just visit us!</h2>
        <%= just_visit_us_section %>
      </div>
      <div>
      <img src="Labi_sign.jpg">
      </div>
    </div>

    <div class="grid">
      <div>
        <h2>Upcoming events</h2>
        <% events.each do |event| %>
          <% if event.description != event.summary %>
            <details>
              <summary><b><a href="<%= event.url %>"><%= event.summary %></a></b><br>@ <%= event.dtstart %></summary>
              <%= markdown.render(event.description.to_s) %>
            </details>
          <% else %>
            <p><b><a href="<%= event.url %>"><%= event.summary %></a></b><br>@ <%= event.dtstart %></p>
          <% end %>
        <% end %>
      </div>
      <div>
        <h2>Recent wiki changes</h2>
        <% wiki_changes.each do |item| %>
          <p><b><a href="<%= item.link.href %>"><%= item.title.content %></a></b><br>
          <%= time_ago_in_words(item.updated.content) %> ago</p>
        <% end %>
      </div>
    </div>

    <div class="grid">
      <div>
        <h3>Upcoming events</h3>
        <%= everything_else_section %>
      </div>
    </div>
  </main>


</body>
</html>